<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<h2>상세게시글</h2>
	<hr>
	
	<table border="1">
		<tr>
			<th>번호</th>
			<td th:text="${board.no}"></td>
		</tr>
		<tr>
			<th>제목</th>
			<td th:text="${board.title}"></td>
		</tr>
		<tr>
			<th>작성자</th>
			<td th:text="${board.writer}"></td>
		</tr>
		<tr>
			<th>내용</th>
			<td th:text="${board.content}"></td>
		</tr>
		<tr>
			<th>조회수</th>
			<td th:text="${board.viewCnt}"></td>
		</tr>
		<tr>
			<th>등록일</th>
			<td th:text="${board.regDate}"></td>
		</tr>
		
	</table>
</body>
</html>