<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<h2>회원 상세 정보</h2>
	<hr>
	
	<table border="1">
		<tr>
			<th>아이디</th>
			<td th:text="${member.id}"></td>
		</tr>
		<tr>
			<th>이름</th>
			<td th:text="${member.name}"></td>
		</tr>
		<tr>
			<th>비밀번호</th>
			<td th:text="${member.password}"></td>
		</tr>
		<tr>
			<th>이메일</th>
			<td th:text="|${member.emailId} ${member.emailDomain}|"></td>
		</tr>
		<tr>
			<th>전화번호</th>
			<td th:text="|${member.tel1} ${member.tel2} ${member.tel3}|"></td>
		</tr>
		<tr>
			<th>우편번호</th>
			<td th:text="${member.post}"></td>
		</tr>
		<tr>
			<th>회원 유형</th>
			<td th:text="${member.type}"></td>
		</tr>
		<tr>
			<th>등록일</th>
			<td th:text="${member.regDate}"></td>
		</tr>
		
	</table>
</body>
</html>